/*background text scroll*/
@import url(https://fonts.googleapis.com/css?family=Poppins:800,200);
body {
  font-family: poppins;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #1e2134;
  line-height: 0.78;
  color: #fff;
  transform: skewY(-0deg);
}
.bg-text-container {
  transform: translateX(-10%);
  left: 10%;
  position: absolute;
  z-index: -999;
}
@keyframes text-scrolling {
  0% {
    transform: translate3d(-75%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
.animate-text {
  animation: text-scrolling 35s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;
}
.animate-text.left {
  animation-direction: reverse;
}
span {
  font-size: 280px;
  color: transparent;
  -webkit-text-stroke: 2px #30442a;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.75;
  min-width: auto;
  font-weight: 800;
}

/*use max-width to control the active space*/
.container {
  padding: 30px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/*overall background color*/
body {
  background-color: rgb(150, 138, 208);
}

/*jumbotron head box, title text, and sub text*/
.jumbotron {
    margin-top: 280px;
    background: linear-gradient(#454db7, #654988);
    color: rgb(255, 255, 255);
}
.jumbotron h1 {
    font-size: 60px;
}
.jumbotron p {
    color: white;
    margin-top: 25px;
    font-size: 20px;
}

/*test subject dropdown container, container title, test subject selections*/
.well {
    background: #1a715d linear-gradient(#454db7, #654988);
    width: 150px;
    height: 10%;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}
.well h5 {
    font-size: 15px;
    font-weight: 800;
    width: 150px;
    overflow: flex;
    color:black;
}
.well select {
    background: white linear-gradient(#454db7, #654988);
    font-size: 15px;
    font-weight: 500;
    overflow: flex;
    color:black;
}

/*demographic panel, card title, card body*/
.panel-primary {
    background: linear-gradient(#454db7, #654988);
    width: 150px;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.panel-heading {
    background: linear-gradient(#454db7, #654988);
    overflow: auto;
    color:black;
}

.panel-title {
    background:linear-gradient(#454db7, #654988);
    overflow: flex;
    font-weight: 800;
    color:black;
}

.panel-body {
    background: rgb(165, 154, 225);
    overflow: auto;
    color:black;
}
